.fc-event:hover {
  background-color: transparent;
}

.fc-theme-standard .fc-scrollgrid {
  border: none;
}

table ::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

table ::-webkit-scrollbar {
  width: 8px;
  background: #f4f4f4;
}

table ::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

.fc-theme-standard td,
.fc-theme-standard th {
  border: none;
}

.fc .fc-day-other {
  visibility: hidden;
}

.fc .fc-daygrid-day-frame {
  position: relative;
  min-height: 100%;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
}

.fc table {
  border-collapse: separate;
  border-spacing: 3px;
}

.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: #aaa;
}
.fc .fc-daygrid-day-number {
  padding: 4px;
  position: relative;
  z-index: 4;
  color: #aaa;
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: #fff;
  border: 1px solid rgb(49, 132, 255);
  border-radius: 12px;
}

.fc-bg-event {
  background-color: red;
}
